@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

    
    
:root{

    --fontRamon:'Raleway';
    --corRoxo:#5D15D1
}




header{

    display: flex;
    flex-direction: row;
    font-size:9px;
    gap: 10px;
    padding: 10px 0px 10px 50px;
    align-items: center;
    color:var(--corRoxo);
    font-family: var(--fontRamon);
    
    
}


header .imagem-logo {

    width: 22px;
}

header #logo-local{

    width: 100%;
}


main{

    font-family: var(--fontRamon);
    background-color: #EAEAEA;
    padding-bottom: 10px;
}

main .img-fundo{

    background-image: url(../image/bahia.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

}

main  .img-fundo .formulario {

    
    background-color: white;
    width: 1024px;
    margin: 0px 10px;
    /* height: 640px; */
    
}
    
    



main > .img-fundo > .formulario > form {


    display: flex;
    flex-direction: column;
    gap: 5px;
    
    
}

main > .img-fundo > .formulario > form legend{

    background-color: var(--corRoxo);
    padding: 5px 0px;
    text-align: center;
    color: white;
    font-weight: 600;
}

main > .img-fundo > .formulario > form legend > #aviao{

    width: 15px;
    transform: rotate(-40deg);
    position: relative;
    top: 1px;
}

main .img-fundo .formulario form h2 {

    padding: 10px;
}

main .img-fundo .formulario form .blocos {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 20px);
    margin: 0px 10px;
    padding: 4px 0px;
}

main .img-fundo .formulario form .blocos input {

    padding: 4px;
}

main .img-fundo .formulario form .box-geral {


    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}


main .img-fundo .formulario form .box-geral .data-origem{

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 50%;
}

main .img-fundo .formulario form .box-geral .volta-destino{

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 50%;
    padding: 10px;

}

main .img-fundo .formulario form .dataIda{

    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 10px;
    
    
}

main .img-fundo .formulario form .dataIda input {

    width: 100%;
    padding: 5px;
    
}

main .img-fundo .formulario form .origem {

    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 10px;
}

main .img-fundo .formulario form .origem .box-origem {

    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

main .img-fundo .formulario form .origem .box-origem select  {

    width: 100%;
    padding: 5px;
}


main .img-fundo .formulario form .dataVolta{

    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    
}

main .img-fundo .formulario form .dataVolta input {

    width: 100%;
    padding: 5px;
    
}

main .img-fundo .formulario form .volta-destino .box-destino {

    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    

}

main .img-fundo .formulario form .volta-destino .box-destino  select {

    padding: 5px;
}

main .img-fundo .formulario form .dataVolta  input {

    
    padding: 5px;

}

main .img-fundo .formulario form .box-destino{

    display: flex;
    flex-direction: column;

    
}

main .img-fundo .formulario form .quarto{

    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    
    
}  
   
    

main .img-fundo .formulario form .quarto .box-radio{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    
   
}

main .img-fundo .formulario form .preferencia {

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    /* position: relative;
    bottom: 30px; */
}

main .img-fundo .formulario form .preferencia .box-opcoes{

    display: flex;
    flex-direction: row;
    gap: 30px;
    
}

main .img-fundo .formulario form .botao{

    padding: 20px 0px 20px 10px;
}

main .img-fundo .formulario .botao button{

    width: 170px;
    padding: 7px;
    border: none;
    background-color: var(--corRoxo);
    color: white;
    cursor: pointer;
    box-shadow: 0px 5px 2px rgba(128, 128, 128, 0.555);
    border-radius: 2px;
}

main .img-fundo .formulario form .botao button:active{

    transform: translateY(.9px);
    box-shadow:0px 3px 2px rgba(128, 128, 128, 0.555); ;
}

main .img-fundo .formulario form label{

    position: relative;
    left: 3px;
}



main .ofertas {


    display: flex;
    flex-direction: column;
    max-width: 1045px;
    margin: 0px auto;
    gap: 15px;
    padding: 10px;
    
}

main .ofertas .ft-geral {

    display: flex;
    flex-direction: row;
    gap: 20px;
    
    
   
}
    
    

main .ofertas .ft-geral .rio{

   width: 50%;
   position: relative;
   background-image: url(../image/rio.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
  
    

}

.rio::after{
    content: "Rio de Janeiro";
    display: block;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: white;
    padding: 5px 0px;
    text-indent: 10px;

    
    
}


main .ofertas .ft-geral .demaisfts {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    
}
    
    
    

main .ofertas .ft-geral .demaisfts .ftmanaus {

    display: flex;
    flex-direction: row;
    gap: 10px;
    
   
}
    
    


main .ofertas .ft-geral .demaisfts .ftmaranhao {

    display: flex;
    flex-direction: row;
    gap: 10px;
    
    
}
    
 
.box-manaus,
.box-sp,
.box-niteroi,
.box-maranhao{

    width: 100%;
    height: 175px;
    background-color: rgb(153, 14, 14);
    position: relative;
}

.box-manaus::after{

    content: "Manaus";
    display: block;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: white;
    padding: 5px 0px;
    text-indent: 10px;

}



.box-manaus{

    background-image: url(../image/manaus.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-sp{

    background-image: url(../image/saopaulo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-sp::after{

    content: "Sao Paulo";
    display: block;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: white;
    padding: 5px 0px;
    text-indent: 10px;

}

.box-niteroi{

    background-image: url(../image/niteroi.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.box-niteroi::after{

    content: "Niteroi";
    display: block;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: white;
    padding: 5px 0px;
    text-indent: 10px;

}

.box-maranhao{

    background-image: url(../image/maranhao.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.box-maranhao::after{

    content: "Maranhão";
    display: block;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: white;
    padding: 5px 0px;
    text-indent: 10px;

}

main .explore {

    max-width: 1045px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    
}

.explore .lencois-cachoeira{

    display: flex;
    flex-direction: row;
    gap: 20px;


}


.explore .lencois-cachoeira .img-lencois{

    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    gap: 10px;
    
}
    
    


.explore .lencois-cachoeira .img-lencois span , strong {

    text-indent: 10px;
    
}



span {

    padding-bottom: 10px;
    color: rgb(128, 128, 128);
    text-indent: 10px;
}


   

.explore .lencois-cachoeira .img-lencois .ft-lencois{

    background-image: url(../image/lencol.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
   

}

.explore .lencois-cachoeira .img-cachoeira {

    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 10px;
}

.explore .lencois-cachoeira .img-cachoeira .ft-cachoeira{

    background-image: url(../image/goias.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;

}


footer{

    background-color: var(--corRoxo);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    padding: 10px 0px;
    
    
    
}

footer p {

    font-size: 0.75rem;
}

footer .tx{

    padding-bottom: 3px;
}

footer .footer-pai {

    max-width:1024px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}

footer .footer-pai img{

    width: 15px;
}

footer .footer-pai .contato {

    display: flex;
    flex-direction: column;
    gap: 15px;
    
    
    
    
}

footer .footer-pai .box-filho1{

    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

footer .footer-pai .redes {

    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

input , label {

    cursor: pointer;
}


input[type="checkbox"] {
    
    appearance: none;
    border: 1px solid black;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    outline: none;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-color:var(--corRoxo);
    border-color: var(--corRoxo)
  }

  input[type="radio"]{

    appearance: none;
    border: 1px solid black;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: relative;
    top: 1px;

  }

  input[type="radio"]:checked{

    background-color: var(--corRoxo);
    border: 1px solid var(--corRoxo);
  }