@charset "UTF-8";


@media screen and (max-width:760px) {
    
        main >  .img-fundo > .formulario > form .botao button {


            width: calc(100% - 10px);
            
        }

        main > .ofertas .ft-geral > .rio {

            width: 100%;
            height: 200px;
            background-position: top center;
        }

         main > .ofertas .ft-geral {

            display: flex;
            flex-direction: column;
            
         }

         main > .ofertas .ft-geral .demaisfts .ftmanaus{

           
            display: flex;
            flex-direction: column;
            width: calc(100vw - 35px);
            
            
         }

         main > .ofertas .ft-geral .demaisfts .ftmaranhao{

           
            display: flex;
            flex-direction: column;
            width: calc(100vw - 35px);
            
            
         }

         main .ofertas .ft-geral{

            gap: 10px;
         }


         main .explore .lencois-cachoeira{

            display: flex;
            flex-direction: column;
            
         }

         main .explore .lencois-cachoeira .img-lencois{

            width: 100%;

         }

         main .explore .lencois-cachoeira .img-cachoeira{

            width: 100%;

         }


         footer .footer-pai {

                display: flex;
                flex-direction: column;
                gap: 40px;
                align-items: center;
                margin: 0px auto;
                
                  
                
         }


         footer .footer-pai .redes {

            position: relative;
            right: 50px;

         }

       
        

      }


      @media screen  and (max-width:415px) {
         
         main .img-fundo .formulario form  .preferencia  .box-opcoes{

               display: flex;
               flex-direction: column;
               gap: 20px;
               padding: 5px 0px;
             }

         main .img-fundo {

            height: 950px;
         }

      }

         


        


